.markdown {
  @apply text-base leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply mb-6;
}

.markdown h1 {
  color: #A87133;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.markdown h2 {
  color: #A87133;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

.markdown h3 {
  color: #A87133;
  font-size: 1.5rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.markdown h4 {
  color: #A87133;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.markdown h5 {
  color: #A87133;
  font-size: 1.1rem;
}

.markdown h6 {
  color: #A87133;
  font-size: 1rem;
}
